# [UniversidadO&M]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [UniversidadO&M]    Script Date: 13/12/2022 12:37:33 ******/
CREATE DATABASE [UniversidadO&M]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UniversidadO&M', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\UniversidadO&M.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UniversidadO&M_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\UniversidadO&M_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
ALTER DATABASE [UniversidadO&M] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UniversidadO&M].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [UniversidadO&M] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [UniversidadO&M] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [UniversidadO&M] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [UniversidadO&M] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [UniversidadO&M] SET ARITHABORT OFF 
GO
ALTER DATABASE [UniversidadO&M] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [UniversidadO&M] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [UniversidadO&M] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [UniversidadO&M] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [UniversidadO&M] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [UniversidadO&M] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [UniversidadO&M] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [UniversidadO&M] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [UniversidadO&M] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [UniversidadO&M] SET  DISABLE_BROKER 
GO
ALTER DATABASE [UniversidadO&M] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [UniversidadO&M] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [UniversidadO&M] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [UniversidadO&M] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [UniversidadO&M] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [UniversidadO&M] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [UniversidadO&M] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [UniversidadO&M] SET RECOVERY FULL 
GO
ALTER DATABASE [UniversidadO&M] SET  MULTI_USER 
GO
ALTER DATABASE [UniversidadO&M] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [UniversidadO&M] SET DB_CHAINING OFF 
GO
ALTER DATABASE [UniversidadO&M] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [UniversidadO&M] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [UniversidadO&M] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [UniversidadO&M] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
EXEC sys.sp_db_vardecimal_storage_format N'UniversidadO&M', N'ON'
GO
ALTER DATABASE [UniversidadO&M] SET QUERY_STORE = OFF
GO

# [dbo].[Calificaciones]

In [0]:
USE [UniversidadO&M]
GO

In [0]:
/****** Object:  Table [dbo].[Calificaciones]    Script Date: 13/12/2022 12:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calificaciones](
	[CalificacionId] [int] NOT NULL,
	[MateriaId] [int] NULL,
	[EstudianteId] [int] NULL,
	[ProfesorId] [int] NULL,
	[Calificacion1] [float] NULL,
	[Calificacion2] [float] NULL,
	[Calificacion3] [float] NULL,
	[Calificacion4] [float] NULL,
	[Promedio] [float] NULL,
	[ExamenFinal] [float] NULL,
	[CalificacionFinal] [int] NULL,
 CONSTRAINT [PK_Calificaciones] PRIMARY KEY CLUSTERED 
(
	[CalificacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Cursos]

In [0]:
/****** Object:  Table [dbo].[Cursos]    Script Date: 13/12/2022 12:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cursos](
	[Cursosid] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Horario] [varchar](20) NULL,
 CONSTRAINT [PK_Cursos] PRIMARY KEY CLUSTERED 
(
	[Cursosid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Estudiante]

In [0]:
/****** Object:  Table [dbo].[Estudiante]    Script Date: 13/12/2022 12:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiante](
	[EstudianteId] [int] NOT NULL,
	[Nombre] [varchar](60) NULL,
	[Matricula] [varchar](15) NULL,
	[Cursoid] [int] NULL,
	[FechaNacimiento] [datetime] NULL,
	[Sexo] [char](1) NULL,
	[Dirección] [varchar](250) NULL,
 CONSTRAINT [PK_Estudiante] PRIMARY KEY CLUSTERED 
(
	[EstudianteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Materia]

In [0]:
/****** Object:  Table [dbo].[Materia]    Script Date: 13/12/2022 12:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materia](
	[Materiaid] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Cursoid] [int] NULL,
	[Profesorid] [int] NULL,
 CONSTRAINT [PK_Materia] PRIMARY KEY CLUSTERED 
(
	[Materiaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Profesores]

In [0]:
/****** Object:  Table [dbo].[Profesores]    Script Date: 13/12/2022 12:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesores](
	[ProfesorId] [int] NOT NULL,
	[Nombre] [varchar](60) NULL,
	[Dirección] [varchar](250) NULL,
	[Sexo] [char](1) NULL,
	[Telefono] [varchar](13) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_Profesores] PRIMARY KEY CLUSTERED 
(
	[ProfesorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Table_2]

In [0]:
/****** Object:  Table [dbo].[Table_2]    Script Date: 13/12/2022 12:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_2](
	[MateriaId] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Cursoid] [int] NULL,
	[ProfesorId] [int] NULL,
 CONSTRAINT [PK_Table_2] PRIMARY KEY CLUSTERED 
(
	[MateriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Table_3]

In [0]:
/****** Object:  Table [dbo].[Table_3]    Script Date: 13/12/2022 12:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_3](
	[EstudianteId] [int] NOT NULL,
	[Nombre] [varchar](60) NULL,
	[Matricula] [varchar](15) NULL,
	[Cursoid] [int] NULL,
	[FechaNacimiento] [datetime] NULL,
	[Sexo] [char](1) NULL,
	[Dirección] [varchar](250) NULL,
 CONSTRAINT [PK_Table_3] PRIMARY KEY CLUSTERED 
(
	[EstudianteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Table1]

In [0]:
/****** Object:  Table [dbo].[Table1]    Script Date: 13/12/2022 12:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table1](
	[ProfesorId] [int] NULL,
	[Nombre] [varchar](60) NULL,
	[Dirección] [varchar](250) NULL,
	[Sexo] [char](1) NULL,
	[Telefono] [varchar](13) NULL,
	[Email] [nchar](10) NULL
) ON [PRIMARY]
GO

# [dbo].[Cursos]

In [0]:
INSERT [dbo].[Cursos] ([Cursosid], [Nombre], [Horario]) VALUES (1, N'Primero ', N'Mañana')
INSERT [dbo].[Cursos] ([Cursosid], [Nombre], [Horario]) VALUES (2, N'Segundo', N'Mañana')
INSERT [dbo].[Cursos] ([Cursosid], [Nombre], [Horario]) VALUES (3, N'Tercero', N'Tarde')
GO

# [dbo].[Materia]

In [0]:
INSERT [dbo].[Materia] ([Materiaid], [Nombre], [Cursoid], [Profesorid]) VALUES (1, N'Matematica', 1, 1)
INSERT [dbo].[Materia] ([Materiaid], [Nombre], [Cursoid], [Profesorid]) VALUES (2, N'Base de Datos', 1, 1)
GO

# [dbo].[Profesores]

In [0]:
INSERT [dbo].[Profesores] ([ProfesorId], [Nombre], [Dirección], [Sexo], [Telefono], [Email]) VALUES (1, N'Starling', N'Calle', N'M', N'8492077714', N'sgermosen@praysoft.net')
GO

# [FK_Calificaciones_Estudiante]

In [0]:
ALTER TABLE [dbo].[Calificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Calificaciones_Estudiante] FOREIGN KEY([EstudianteId])
REFERENCES [dbo].[Estudiante] ([EstudianteId])
GO
ALTER TABLE [dbo].[Calificaciones] CHECK CONSTRAINT [FK_Calificaciones_Estudiante]
GO

# [FK_Calificaciones_Materia]

In [0]:
ALTER TABLE [dbo].[Calificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Calificaciones_Materia] FOREIGN KEY([MateriaId])
REFERENCES [dbo].[Materia] ([Materiaid])
GO
ALTER TABLE [dbo].[Calificaciones] CHECK CONSTRAINT [FK_Calificaciones_Materia]
GO

# [FK_Estudiante_Cursos]

In [0]:
ALTER TABLE [dbo].[Estudiante]  WITH CHECK ADD  CONSTRAINT [FK_Estudiante_Cursos] FOREIGN KEY([Cursoid])
REFERENCES [dbo].[Cursos] ([Cursosid])
GO
ALTER TABLE [dbo].[Estudiante] CHECK CONSTRAINT [FK_Estudiante_Cursos]
GO

# [FK_Materia_Cursos]

In [0]:
ALTER TABLE [dbo].[Materia]  WITH CHECK ADD  CONSTRAINT [FK_Materia_Cursos] FOREIGN KEY([Cursoid])
REFERENCES [dbo].[Cursos] ([Cursosid])
GO
ALTER TABLE [dbo].[Materia] CHECK CONSTRAINT [FK_Materia_Cursos]
GO

# [FK_Materia_Profesores]

In [0]:
ALTER TABLE [dbo].[Materia]  WITH CHECK ADD  CONSTRAINT [FK_Materia_Profesores] FOREIGN KEY([Profesorid])
REFERENCES [dbo].[Profesores] ([ProfesorId])
GO
ALTER TABLE [dbo].[Materia] CHECK CONSTRAINT [FK_Materia_Profesores]
GO

# [UniversidadO&M]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [UniversidadO&M] SET  READ_WRITE 
GO